<h1>My Gallery</h1>
<section class="gallery">
  <div class="carousel">
    
    <input type="radio" id="image1" name="gallery-control" checked>
    <input type="radio" id="image2" name="gallery-control">
    <input type="radio" id="image3" name="gallery-control">
    <input type="radio" id="image4" name="gallery-control">
    <input type="radio" id="image5" name="gallery-control">
    <input type="radio" id="image6" name="gallery-control">
    <input type="radio" id="image7" name="gallery-control">
    <input type="radio" id="image8" name="gallery-control">
    <input type="radio" id="image9" name="gallery-control">
    <input type="radio" id="image10" name="gallery-control">
    <input type="radio" id="image11" name="gallery-control">
    <input type="radio" id="image12" name="gallery-control">
    <input type="radio" id="image13" name="gallery-control">
    <input type="radio" id="image14" name="gallery-control">
    <input type="radio" id="image15" name="gallery-control">
    <input type="radio" id="image16" name="gallery-control">
    <input type="radio" id="image17" name="gallery-control">
    <input type="radio" id="image18" name="gallery-control">
    <input type="radio" id="image19" name="gallery-control">
    <input type="radio" id="image20" name="gallery-control">
    <input type="radio" id="image21" name="gallery-control">
    <input type="radio" id="image22" name="gallery-control">
    <input type="radio" id="image23" name="gallery-control">
    <input type="radio" id="image24" name="gallery-control">
    <input type="radio" id="image25" name="gallery-control">
    <input type="radio" id="image26" name="gallery-control">
    <input type="radio" id="image27" name="gallery-control">
    <input type="radio" id="image28" name="gallery-control">
    <input type="radio" id="image29" name="gallery-control">
    <input type="radio" id="image30" name="gallery-control">
    
    <input type="checkbox" id="fullscreen" name="gallery-fullscreen-control"/>
    
    <div class="wrap">
      
      <figure>
        <label for="fullscreen">
          <%= image_tag "park.jpg", height: 1300, width: 900, alt: "image1" %>
        </label>
      </figure>

      <figure>
        <label for="fullscreen">
          <%= image_tag "beach.jpg", height: 1300, width: 900, alt: "image2" %>
        </label>
      </figure>

      <figure>
        <label for="fullscreen">
          <%= image_tag "letterman.jpg", height: 1300, width: 600, alt: "image3" %>
        </label>
      </figure>

      <figure>
        <label for="fullscreen">
          <%= image_tag "couch.jpg", height: 1300, width: 900, alt: "image4" %>
        </label>
      </figure>

      <figure>
        <label for="fullscreen">
          <%= image_tag "prom.jpg", height: 1500, width: 900, alt: "image5" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "baby2.jpg", height: 1300, width: 900, alt: "image6" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "boyschool.jpg", height: 1300, width: 900, alt: "image7" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "corporate1.jpg", height: 1300, width: 900, alt: "image8" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "boyschoolsmiling.jpg", height: 1300, width: 900, alt: "image9" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "coupl3.jpg", height: 1300, width: 900, alt: "image10" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "couple4.jpg", height: 1300, width: 900, alt: "image11" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "engagementlog.jpg", height: 1300, width: 900, alt: "image12" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "familyof6.jpg", height: 1300, width: 900, alt: "image13" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "girlpurple.jpg", height: 1300, width: 600, alt: "image14" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "teengirl.jpg", height: 1300, width: 900, alt: "image15" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "couple5.jpg", height: 1300, width: 600, alt: "image16" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "girlschool2.jpg", height: 1300, width: 900, alt: "image17" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "sisterstoy.jpg", height: 1300, width: 900, alt: "image18" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "girlschool.jpg", height: 1300, width: 600, alt: "image19" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "familycouch3.jpg", height: 1300, width: 900, alt: "image20" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "corporate2.jpg", height: 1300, width: 900, alt: "image21" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "headshot9.jpg", height: 1300, width: 600, alt: "image22" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "boybluepose.jpg", height: 1300, width: 600, alt: "image23" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "headshot4.jpg", height: 1300, width: 600, alt: "image24" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "family11.jpg", height: 1300, width: 900, alt: "image25" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "corporate3.jpg", height: 1300, width: 900, alt: "image26" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "headshot.jpg", height: 1300, width: 600, alt: "image27" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "familylaugh.jpg", height: 1300, width: 900, alt: "image28" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "familypose.jpg", height: 1300, width: 900, alt: "image29" %>
        </label>
      </figure>
      <figure>
        <label for="fullscreen">
          <%= image_tag "girlgreen.jpg", height: 1300, width: 600, alt: "image30" %>
        </label>
      </figure>
    </div>
    
    <div class="thumbnails">
      
      <div class="slider"><div class="indicator"></div></div>
      
      <label for="image1" class="thumb" style="background-image"> 
        <%= image_tag "park.jpg", height: 60, width: 65 %>
      </label>
      
      <label for="image2" class="thumb" style="background-image"> 
        <%= image_tag "beach.jpg", height: 60, width: 65 %>
      </label>
      
      <label for="image3" class="thumb" style="background-image"> 
        <%= image_tag "letterman.jpg", height: 60, width: 65 %>
      </label>
        
      <label for="image4" class="thumb" style="background-image"> 
        <%= image_tag "couch.jpg", height: 60, width: 65 %>
      </label>

      <label for="image5" class="thumb" style="background-image"> 
        <%= image_tag "prom.jpg", height: 60, width: 65 %>
      </label>
      <label for="image6" class="thumb" style="background-image"> 
        <%= image_tag "baby2.jpg", height: 60, width: 65 %>
      </label>
      <label for="image7" class="thumb" style="background-image"> 
        <%= image_tag "boyschool.jpg", height: 60, width: 65 %>
      </label>
      <label for="image8" class="thumb" style="background-image"> 
        <%= image_tag "corporate1.jpg", height: 60, width: 65 %>
      </label>
      <label for="image9" class="thumb" style="background-image"> 
        <%= image_tag "boyschoolsmiling.jpg", height: 60, width: 65 %>
      </label>
      <label for="image10" class="thumb" style="background-image"> 
        <%= image_tag "coupl3.jpg", height: 60, width: 65 %>
      </label>
      <label for="image11" class="thumb" style="background-image"> 
        <%= image_tag "couple4.jpg", height: 60, width: 65 %>
      </label>
      <label for="image12" class="thumb" style="background-image"> 
        <%= image_tag "engagementlog.jpg", height: 60, width: 65 %>
      </label>
      <label for="image13" class="thumb" style="background-image"> 
        <%= image_tag "familyof6.jpg", height: 60, width: 65 %>
      </label>
      <label for="image14" class="thumb" style="background-image"> 
        <%= image_tag "girlpurple.jpg", height: 60, width: 65 %>
      </label>
      <label for="image15" class="thumb" style="background-image"> 
        <%= image_tag "teengirl.jpg", height: 60, width: 65 %>
      </label>
      <label for="image16" class="thumb" style="background-image"> 
        <%= image_tag "couple5.jpg", height: 60, width: 65 %>
      </label>
      <label for="image17" class="thumb" style="background-image"> 
        <%= image_tag "girlschool2.jpg", height: 60, width: 65 %>
      </label>
      <label for="image18" class="thumb" style="background-image"> 
        <%= image_tag "sisterstoy.jpg", height: 60, width: 65 %>
      </label>
      <label for="image19" class="thumb" style="background-image"> 
        <%= image_tag "girlschool.jpg", height: 60, width: 65 %>
      </label>
      <label for="image20" class="thumb" style="background-image"> 
        <%= image_tag "familycouch3.jpg", height: 60, width: 65 %>
      </label>
      <label for="image21" class="thumb" style="background-image"> 
        <%= image_tag "corporate2.jpg", height: 60, width: 65 %>
      </label>
      <label for="image22" class="thumb" style="background-image"> 
        <%= image_tag "headshot9.jpg", height: 60, width: 65 %>
      </label>
      <label for="image23" class="thumb" style="background-image"> 
        <%= image_tag "boybluepose.jpg", height: 60, width: 65 %>
      </label>
      <label for="image24" class="thumb" style="background-image"> 
        <%= image_tag "headshot4.jpg", height: 60, width: 65 %>
      </label>
      <label for="image25" class="thumb" style="background-image"> 
        <%= image_tag "family11.jpg", height: 60, width: 65 %>
      </label>
      <label for="image26" class="thumb" style="background-image"> 
        <%= image_tag "corporate3.jpg", height: 60, width: 65 %>
      </label>
      <label for="image27" class="thumb" style="background-image"> 
        <%= image_tag "headshot.jpg", height: 60, width: 65 %>
      </label>
      <label for="image28" class="thumb" style="background-image"> 
        <%= image_tag "familylaugh.jpg", height: 60, width: 65 %>
      </label>
      <label for="image29" class="thumb" style="background-image"> 
        <%= image_tag "familypose.jpg", height: 60, width: 65 %>
      </label>
      <label for="image30" class="thumb" style="background-image"> 
        <%= image_tag "girlgreen.jpg", height: 60, width: 65 %>
      </label>
    </div>
  </div>
</section>